@model ProjetoEscola.Models.Turma

@{
    ViewData["Title"] = "ProjetoEscola - Cadastro de turma";
}

<link href="~/css/Shared/estilo.css" rel="stylesheet" />

<form asp-action="ValidarCadastro" data-ajax="true" data-ajax-method="post" data-ajax-begin="$('#area-submit').remove()"
      data-ajax-loading="#area-carregamento" data-ajax-update="#div-render">
    @Html.AntiForgeryToken()
    <div class="row text-center mt-4">
        <h4>Cadastro de turma</h4>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-8 col-md-4">
            <label for="nome">Nome</label>
            <input asp-for="Nome" type="text" id="nome" class="form-control">
            <span asp-validation-for="Nome" class="span-danger"></span>
        </div>
        <div class="col-8 col-md-4">
            <label for="ensino">Ensino</label>
            <select asp-for="Ensino" id="ensino" class="form-control select-2" data-width="100%" data-container="body"
                    data-title="Nível de ensino" data-value="@Model.Ensino">
                <option value="0">Ensino Fundamental</option>
                <option value="1">Ensino Médio</option>
            </select>
            <span asp-validation-for="Ensino" class="span-danger"></span>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-8 col-md-3">
            <label for="ano-ensino">Ano de ensino</label>
            <select asp-for="AnoEnsino" id="ano-ensino" class="form-control select-2" data-title="Selecionar ano de ensino" 
                    data-width="100%" data-container="body" data-value="@Model.AnoEnsino">

                @for (var i = 1; i < 10; i++)
                {
                    <option value="@i">@i° ano</option>
                }

            </select>
            <span asp-validation-for="AnoEnsino" class="span-danger"></span>
        </div>
        <div class="col-8 col-md-3">
            <label for="turno">Turno</label>
            <select asp-for="Turno" id="turno" class="form-control select-2" data-title="Selecionar turno" data-width="100%"
                    data-container="body" data-value="@Model.Turno">
                <option value="0">Manhã</option>
                <option value="1">Tarde</option>
                <option value="2">Noite</option>
            </select>
            <span asp-validation-for="Turno" class="span-danger"></span>
        </div>
        <div class="col-8 col-md-2">
            <label for="capacidade">Capacidade</label>
            <input asp-for="Capacidade" type="text" id="capacidade" class="form-control num-2">
            <span asp-validation-for="Capacidade" class="span-danger"></span>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-8 col-md-2">
            <label for="ano-letivo">Ano letivo</label>
            <input asp-for="AnoLetivo" type="text" id="ano-letivo" class="form-control num-4">
            <span asp-validation-for="AnoLetivo" class="span-danger"></span>
        </div>
        <div class="col-8 col-md-3">
            <label for="inicio">Início</label>
            <input asp-for="Inicio" type="date" id="inicio" class="form-control">
            <span asp-validation-for="Inicio" class="span-danger"></span>
        </div>
        <div class="col-8 col-md-3">
            <label for="termino">Término</label>
            <input asp-for="Termino" type="date" id="termino" class="form-control">
            <span asp-validation-for="Termino" class="span-danger"></span>
        </div>
    </div>

    @if (ViewBag.Notificacao != null)
    {
        <div class="row justify-content-center mt-3">
            <div class="col-8">
                @{ await Html.RenderPartialAsync("_Notificacao"); }
            </div>
        </div>
    }

    <div id="area-submit" class="row justify-content-center mt-5">
        <button class="btn btn-success col-4" type="submit">Salvar</button>
    </div>
    <div id="area-carregamento" class="row mt-5 justify-content-center" style="display: none;">
        <button class="col-4 btn btn-success" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Salvar
        </button>
    </div>
    <div class="row justify-content-center mt-3 mb-4">
        <button class="btn btn-outline-danger col-4" type="submit">Voltar</button>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-mask/jquery.mask.min.js"></script>
<script src="~/lib/select-2/select2.min.js"></script>
<script src="~/js/Shared/biblioteca.js"></script>
<script src="~/js/Shared/notificacao.js"></script>
<script src="~/js/Turma/cadastro.js"></script>